@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: sans-serif;
}

section {
  background-color: black;
  padding: 20px;
}

.light {
  width: 50px;
  height: 50px;
  opacity: .3;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 5px;
}

.light--active {
  opacity: 1;
}
