@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tooltip {
  animation: fade-in .25s;
  --tooltip-spacing: 8px;
  text-wrap: nowrap;
}

.tooltip--top {
  bottom: calc(100% + var(--tooltip-spacing));
  left: 50%;
  transform: translate(-50%);
}

.tooltip--right {
  left: calc(100% + var(--tooltip-spacing));
  top: 0px;
}

.tooltip--bottom {
  top: calc(100% + var(--tooltip-spacing));
  left: 50%;
  transform: translate(-50%);
}

.tooltip--left {
  right: calc(100% + var(--tooltip-spacing));
  top: 0px;
  /* transform: translateY(30%); */
}
